* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

/* Encabezado */
header {
    width: 100%;
    display:grid;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background: linear-gradient(90deg, rgba(30,102,163,1) 0%, rgba(62,152,149,1) 50%, rgba(155,180,171,1) 100%);
}

header .header-icons-container .header-icons {
    width:300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 60px
}

.header-icons img {
    width: 30px;
    height: 30px;
}

nav {
    display:flex;
    justify-content: space-between;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width:220px;
    margin-top: 10px;
}

nav .profile-link {
    display:flex;
    align-items: center;
    justify-self: end;
    margin-right: 50px;
}

.button-profile {
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background: linear-gradient(90deg, rgba(62,238,249,1) 0%, rgba(166,207,150,1) 100%);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Contenido principal  */

.blog-container-home {
    width: 100%;
    height: 94.6%;
    background-image: url("/assets/img/Cover3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.page-title-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.titles-container {
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles-container .blog-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 10px;
    text-shadow: 4px 0px 5px rgba(76,76,76,0.89);
}

.titles-container .blog-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
    margin-bottom: 10px;
    text-shadow: 4px 0px 5px rgba(76,76,76,0.89);
}
