* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

/* Encabezado */
header {
    width: 100%;
    display:grid;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background: linear-gradient(90deg, rgba(30,102,163,1) 0%, rgba(18,213,143,1) 100%);
}

header .header-icons-container .header-icons {
    width:300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 60px
}

.header-icons img {
    width: 30px;
    height: 30px;
}

nav {
    display:flex;
    justify-content: space-between;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width:220px;
    margin-top: 10px;
}

nav .profile-link {
    display:flex;
    align-items: center;
    justify-self: end;
    margin-right: 50px;
}

.button-profile {
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background: rgba(18,213,143,1);
    border-radius: 8px;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
}

.button-profile:hover {
    transition: .4s all;
    background-color: #47cfac;
    transform: scale(1.1);
}

/* Contenido principal  */

.blog-container-home {
    width: 100%;
    height: 94.6%;
    background-image: url("../assets/img/Cover3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-title-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.titles-container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles-container .blog-title {
    color: white;
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 10px;
    text-shadow: 4px 0px 5px rgba(76,76,76,0.89);
}

.titles-container .blog-subtitle {
    font-weight: 500;
    font-size: 32px;
    color: white;
    margin-bottom: 10px;
    text-shadow: 4px 0px 5px rgba(76,76,76,0.89);
}

.titles-container .blog-p {
    margin-top: 100px;
    font-weight: 500;
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
    text-shadow: 4px 0px 5px rgba(76,76,76,0.89);
}

.home-main-button {
    border:none;
    border-radius: 8px;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    background-color:rgb(18 212 143);
    box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
}

.home-main-button a {
    font-weight: 500;
    font-size: 18px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    align-items:  center;
}

.home-main-button:hover {
    transition: .4s all;
    background-color: #47cfac;
    transform: scale(1.2);
}

/* ----- BLOGS ----- */

.blogs-main {
    display:grid;
}

.blogs-news-container {
    background-color: #e6e9ed;
    padding: 40px 60px 40px;
    margin-top: 20px;
}

.principal-text p {
    font-weight: 400;
}

.blogs-main-news {
    display: grid;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-news-img-container img {
    width:90%;
    height: 100%;
}

.blogs-news-info-container {
    grid-column: 2;
}
.blogs-news-info-container h2 {
    font-size: 34px;
}

.blogs-news-info-container p {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 18px;
}

.blogs-posts-container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40px;
}

.blog-posts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
}

.blogs-posts-container h3 {
    margin-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 24px;
}

.blog-separator {
    margin-bottom: 40px;
    border: 1px solid #ccc;
}

.blogs-button {
    border: 2px solid #47cfac;
    padding: 10px 15px;
    display: inline-block;
}

.blogs-button:hover {
    transition: .4s all;
	color: white;
	background-color: #48CFAD;
}

h4 {
    margin: 10px 0 10px 0;
}

.blogs-posts-container .post-container p {
    margin-bottom: 20px;
}

.blogs-posts-container .post-container img {
    width:100%;
}

/* ------>BLOG<------- */

.blogpost-img-container {
    padding: 0 40px 10px;
}

.blogpost-img-container img {
    margin-top: 30px;
    border-radius: 10px;
    width:100%;
}

.blogpost-main-container {
    padding: 0 20px 40px;
}

.blogpost-main-container h3 {
    text-align: start;
}

.blogpost-main-container h2 {
    font-size: 32px;
    font-weight: bold;
}

.blogs-posts-container p {
    margin-top: 30px;
}

.contact-main-container {
    width:100%;
    min-height: 250px;
    background-color: #e6e9ed;
    text-align: center;
    padding-bottom: 5px;
}

.contact-main-container div {
    display:inline-block;
    width:49.5%;
    height: 100%;
}

.button-contact-me {
    border: none;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: rgba(18,213,143,1);
    border-radius: 8px;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
}

.button-contact-me:hover {
    transition: .4s all;
    background-color: #47cfac;
    transform: scale(1.1);
}

.contact-left p {
    padding-top: 10px;
}

.contact-right p {
    padding-top: 10px;
}

.contact-main-container .contact-left, .contact-right  {
    text-align: initial;
    padding-left: 20px;
    margin-top: 85px;
}

.contact-main-container img {
    width: 100px;
}

/* ----->PERFIL<----- */

.profile-main-container {
    padding: 60px 30px;
    background-color: #e6e9ed;
    margin-bottom: 50px;
}

.profile-main-container .profile-container {
    display:flex;
}

.profile-main-container img {
    width:320px;
    height:520px;
    margin-right: 70px;
    border-radius: 30%;
    box-shadow: 0px 4px 8px rgb(89 73 30 / 36%);
}

.profile-description {
    font-family: 'Roboto Mono', monospace;
    font-size: 34;
}

.profile-description span {
    color: rgba(18,213,143,1);
}

.profile-description p {
    font-size: 18px;

}

.profile-main-projects {
    padding: 0 50px 40px;
}

.profile-main-projects h3 {
    text-align: center;
}

.projects-main-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
}

.project-container {
    padding: 0 20px;
    text-align: center;
}

.project-container p {
    padding-bottom: 20px;
}
.project-container img {
    width: 100%;
    
}


/* ---->FOOTER<----- */
footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
}

footer p {
    color: white;
    margin-top: 10px;
    text-align: center;
}

